<nav aria-label="Paginazione">
    <ul class="pagination d-flex justify-content-center mt-3">
        <li class="page-item active" aria-current="page">
            <a class="page-link" asp-route-page="1">1<span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item">
            <a class="page-link" asp-route-page="2">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" asp-route-page="3">3</a>
        </li>
    </ul>
</nav>